* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  color: var(--main_color);
}
:root {
  --second_color: #fc6a57;
  --main_color: #334257;
}
.container {
  padding: 25px 70px;
}
.heading {
  display: flex;
  align-items: center;
  gap: 10px;
  /* border-bottom: 1px solid var(--main_color); */
}

nav {
  margin-bottom: 30px;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22px;
}
li {
  font-weight: 700;
  text-transform: capitalize;
  cursor: pointer;
  padding-bottom: 14px;
}
li.active {
  color: var(--second_color);
  border-bottom: 1px solid var(--second_color);
}
.content {
  position: relative;
  overflow: hidden;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-color: #fff;
}
.content .tab_content {
  display: none;
}
.content .tab_content.tab_active {
  display: flex;
}

.table-wrapper {
  margin: auto;
  position: relative;
  overflow: scroll;
}
.table-wrapper::-webkit-scrollbar {
  display: none;
}
table {
  width: 100%;
  margin: auto;
  background-color: #fff;
  border-collapse: collapse;
}

thead {
  display: block;
  border-bottom: 1px solid;
}
tr {
  border-bottom: 1px solid #ddd;
  display: block;
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 18px 4px;
  padding: 14px 10px;
  font-weight: bold;
  text-transform: capitalize;
}
table tr:last-of-type {
  border-bottom: none;
}

td {
  padding: 8px 12px;
}
td.time,
.icons {
  display: flex;
  align-items: center;
  gap: 12px;
}
td.time span {
  border: 1px solid #ddd;
  padding: 10px 12px;
  text-align: center;
  border-radius: 6px;
  font-weight: lighter;
}

.icons i:first-child {
  color: #ed4c78;
  padding: 3px;
  font-size: 18px;
  cursor: pointer;
}
.icons i:nth-child(2) {
  padding: 2px 3px;
  color: #fff;
  background-color: #006ae5;
  font-size: 13px;
  cursor: pointer;
}

/* page 2 */
.customers {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.row {
  display: flex;
  border-radius: 12px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.08);
  padding: 16px;
  gap: 25px;
}
.row .options {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;

  flex: 1;
}
.row.column {
  flex-direction: column;
  gap: 15px;
}
.row .option {
  border: 1px solid #ddd;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  border-radius: 8px;
  flex-basis: 30%;
}

.toggle-container {
  padding: 4px 28px;
  border-radius: 20px;
  background-color: #e3e3e3;
  height: 25px;
  position: relative;
}
.toggle-container.active {
  background-color: var(--second_color);
  transition: 0.5s;
}

.toggle-container button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  transition: 0.5s;
  transform: translateX(0);
}
.toggle-container.active button {
  right: 35% !important;
  transform: translateX(100%);
}
.row p {
  padding-bottom: 14px;
  border-bottom: 1px solid #ddd;
  display: block;
  width: 100%;
  font-weight: bold;
  letter-spacing: 1.5px;
  font-size: 16px;
}

.inp-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inp-group input {
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
input:focus {
  outline: 1px solid #ddd;
}

/* badge */

.badge {
  position: absolute;
  z-index: 10;
  top: 20%;
  left: 0;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 14px;
  background-color: #35365e;
  color: #fff;
  border-radius: 0 6px 6px 0;
  transition: 0.5s;
  transform: translateX(-92px);
}
.badge i {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
.badge:hover {
  transform: translateX(0px);
}
i.open {
  font-size: 28px;
  margin-bottom: 30px;
  cursor: pointer;
}
nav i.close {
  font-size: 28px;
  margin: 25px 0 20px 35px;
  text-align: left;
  /* display: block; */
  transition: 0.3s;
  width: fit-content;
  margin-right: 85%;
}
nav i.close:hover {
  color: red;
  cursor: pointer;
}
i.hide {
  display: none ;
}
/* media */

@media (max-width: 992px) {
  .container {
    padding: 15px 20px;
  }
  nav {
    transform: translateX(300px);
    position: fixed;
    top: 0px;
    right: 0;
    height: 100dvh;
    padding: 10px 0 10px 20px;
    background-color: #fff;
    transition: 0.3s;
    z-index: 100;
  }
  nav i,
  .open {
    display: block !important;
  }

  nav.open {
    transform: translateX(0px);
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 22px;

    /* background-color: #fff;
        padding: 10px 20px; */
  }
  li {
    display: block;
    width: 100%;
    padding-bottom: 4px;
    padding-right: 20px;
    text-align: center;
  }

  .row .options {
    grid-template-columns: 1fr;
  }
}
